h1{
	color: blue;
}
h2{
	color: red;
}
h3{
	color: green;
}

.container {
	max-width: 900px;
	margin: auto;
}
table{
	background: green;

}
td{
	background:blue;
}
td:hover{
	background: green;
}
td:hover{
	background: red;
}
a {
	transition: color 3s ease;
}
a:hover{
	color: green;

	

{
transition: background 3s ease;